/* ==========================================================================
   Reset and Common Styles
   ========================================================================== */
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font: 14px/1.5 Tahoma, Arial;
  color: #333; }

h1, h2, h3, h4, h5, h6,
ul, ol, li,
form, input, textarea, select {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

header, footer, nav, article, footer, address, section {
  display: block; }

p {
  margin: 10px 0; }

img {
  border: 0; }

a {
  color: #09f;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  a:hover {
    color: #007acc;
    text-decoration: underline; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hcenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.fullimg {
  display: block;
  max-width: 100%;
  height: auto; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

/* ==========================================================================
   Grid
   ========================================================================== */
.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.column-one-half,
.column-one-third,
.column-two-third,
.column-one-fourth,
.column-three-fourth {
  float: left;
  position: relative; }

.column-one-half {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px; }

.column-one-third {
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px; }

.column-two-third {
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px; }

.column-one-fourth {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px; }

.column-three-fourth {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px; }

/* ==========================================================================
   General
   ========================================================================== */
#wrapper {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff; }

#container {
  background-color: #4d4d4d;
  border-radius: 5; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }

/* Header */
header, footer {
  background-color: #b3b3b3;
  color: #fff;
  min-height: 50px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0px 1px 3px #333; }
  header h2, footer h2 {
    padding: 10px 0; }

/* Navigation */
nav {
  background-color: #f7f7f7;
  margin-bottom: 10px; }
  nav ul {
    list-style-type: none;
    font-size: 0; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        display: inline-block;
        font-size: 14px;
        padding: 5px 15px; }
        nav ul li a:hover {
          background-color: #e6e6e6;
          -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
          text-decoration: none; }

/* Content */
section {
  background-color: whitesmoke;
  padding: 10px 15px;
  border-radius: 5px; }

/* Footer */
/* Small devices (480px and up) */
@media (min-width: 480px) {
  #wrapper {
    max-width: 480px; } }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #wrapper {
    max-width: 768px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #wrapper {
    max-width: 992px; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #wrapper {
    width: 1000px; } }

/*# sourceMappingURL=styles.css.map */