/* ==========================================================================
   Grid
   ========================================================================== */

.row {
	@include clearfix;
	margin-left: -($grid-gutter/2);
	margin-right: -($grid-gutter/2);
}

.column-one-half,
.column-one-third,
.column-two-third,
.column-one-fourth,
.column-three-fourth {
	float: left;
	position: relative;
}

.column-one-half {
	width: ($container-width / 2);
	padding-left: ($grid-gutter/2);
	padding-right: ($grid-gutter/2);
}

.column-one-third {
	width: ($container-width / 3);
	padding-left: ($grid-gutter/2);
	padding-right: ($grid-gutter/2);
}

.column-two-third {
	width: ($container-width * (2/3));
	padding-left: ($grid-gutter/2);
	padding-right: ($grid-gutter/2);
}

.column-one-fourth {
	width: ($container-width / 4);
	padding-left: ($grid-gutter/2);
	padding-right: ($grid-gutter/2);
}

.column-three-fourth {
	width: ($container-width * (3/4));
	padding-left: ($grid-gutter/2);
	padding-right: ($grid-gutter/2);
}