/* ==========================================================================
   General
   ========================================================================== */

#wrapper {
	width: 100%;
	@include center-block;
	background-color: $body-bg;
}

#container {
	background-color: $light;
	@include border-radius(5);
	@include clearfix;
}

/* Header */
header {
	background-color: $lighter;
	color: #fff;
	min-height: 50px;
	@include border-radius(5px);
	margin: 10px 0;
	@include box-shadow(0px 1px 3px $base);
	h2 {
		padding: 10px 0;
	}
}

/* Navigation */
nav {
	background-color: lighten($lighter, 27%);
	margin-bottom: 10px;
	ul {
		list-style-type: none;
		font-size: 0;
		li {
			display: inline-block;
			a {
				display: inline-block;
				font-size: 14px;
				padding: 5px 15px;
				&:hover {
					background-color: lighten($lighter, 20%);
					@include animate(background-color,0.5s);
					text-decoration: none;
				}
			}
		}
	}
}

/* Content */
section {
	background-color: lighten($lighter, 26%);
	padding: 10px 15px;
	@include border-radius(5px);
}

/* Footer */
footer {
	@extend header;
}

/* Small devices (480px and up) */
@media (min-width: 480px) {

#wrapper { max-width: 480px; }
	
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

#wrapper { max-width: 768px; }

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

#wrapper { max-width: 992px; }
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
#wrapper {
	width: $layout-width;
}

}