@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin prefix($map, $vendors: webkit moz ms o) {
	@each $prop, $value in $map {
		@if $vendors {
			@each $vendor in $vendors {
			  #{"-" + $vendor + "-" + $prop}: #{$value};
			}
		}
		#{$prop}: #{$value};
	}
}

@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin vcenter-block() {
	position: relative;
	top: 50%;
	@include prefix((transform: translateY(-50%)), webkit ms);
}

@mixin animate($property, $duration) {
	@include prefix((transition: $property $duration), webkit ms);
}

@mixin box-shadow($shadows...) {
	@include prefix((box-shadow: $shadows),webkit moz);
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: ($opacity * 100);
	filter: alpha(opacity=$opacity-ie);
}