/* ==========================================================================
   Reset and Common Styles
   ========================================================================== */

html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font: #{$font-size}/#{$line-height} $font-family;
	color: $base;
}

h1,h2,h3,h4,h5,h6,
ul,ol,li,
form,input,textarea,select {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: $heading1;
}
h2 {
	font-size: $heading2;
}
h2 {
	font-size: $heading3;
}
h4 {
	font-size: $heading4;
}

header, nav, article, footer, address, section {  
    display: block;  
}
p {
	margin: 10px 0;
}
img {
	border: 0;
}
a {
	color: $link-color;
	text-decoration: none;
	outline: none;
	@include animate(color,0.5s);
	&:hover {
		color: darken($link-color, 10%);
		text-decoration: underline;
	}
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
.clearfix {
	@include clearfix
}

.hcenter {
	@include center-block;
}
.vcenter {
	@include vcenter-block;
}
.fullimg {
	display: block;
	max-width: 100%;
	height: auto;
}

.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.fixed {
	position: fixed;
}