$body-bg:			#fff;
$link-color:		#09f;

$base:              #333;
$dark:           	darken($base, 10%);
$light:             lighten($base, 10%);
$lighter:           lighten($base, 50%);

$font-family:		Tahoma, Arial;
$font-size:		14px;
$line-height:		1.5;

$heading1:		30px;
$heading2:		24px;
$heading3:		18px;
$heading4:		16px;

$layout-width:		1000px;
$container-width:	100%;
$grid-gutter:		30px;